In [1]:
import numpy as np
import pandas as pd
# import pymysql

In [3]:
import mysql.connector

dataset = pd.read_csv('sales_data.csv', low_memory=False)
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1051047595Ma",
    database="laptop"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000288AA6ECA10>

In [ ]:
coll = dataset['Order_Date']
coll.duplicated().sum()

In [4]:
provinces = dataset['Branch']
provinces.drop_duplicates(inplace=True)
print("prove :",len(provinces))

prove : 16

In [5]:
from sqlalchemy import create_engine

SERVER='localhost'
USERNAME='root'
PASSWORD='1051047595Ma'
database='laptop'
engine = create_engine(f'mysql+pymysql://{USERNAME}:{PASSWORD}@{SERVER}:3306/{database}')
conn = engine.connect()

In [6]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `priority` (
  `laptop_id` BIGINT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  `pro` CHAR(255) NOT NULL
);
"""
mycursor.execute(sql_q)

In [7]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `screens` (
  `id` BIGINT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  `laptop_id` BIGINT NOT NULL,
  `model_name` VARCHAR(255) NOT NULL
);
"""
mycursor.execute(sql_q)

In [8]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `scr_size` (
  `id` BIGINT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  `screen_id` BIGINT NOT NULL,
  `screen_size` DOUBLE(8, 2) NOT NULL
);
"""
mycursor.execute(sql_q)

In [9]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `pro_lap` (
  `id` BIGINT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  `laptop_id` BIGINT NOT NULL,
  `province_id` VARCHAR(255) NOT NULL
);
"""
mycursor.execute(sql_q)

In [10]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `storages` (
  `id` BIGINT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  `laptop_id` BIGINT NOT NULL,
  `model_name` VARCHAR(255) NOT NULL
);
"""
mycursor.execute(sql_q)

In [11]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `laptops` (
  `id` BIGINT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  `name` VARCHAR(255) NOT NULL,
  `wieght` DOUBLE(8,2) NOT NULL,
  `order_id` BIGINT NOT NULL
);
"""
mycursor.execute(sql_q)

In [12]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `orders` (
  `id` BIGINT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  `order_date` DATETIME,
  `ship_duration` INT
);
"""
mycursor.execute(sql_q)

In [13]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `sales` (
  `order_id` BIGINT,
  `price` BIGINT NOT NULL,
  `percent_disc` INT NOT NULL,
  `profit` BIGINT NOT NULL,
  `quantity` INT NOT NULL
);
"""
mycursor.execute(sql_q)

In [14]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `os` (
  `id` BIGINT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  `laptop_id` BIGINT NOT NULL,
  `model_name` VARCHAR(255) NOT NULL
);
"""
mycursor.execute(sql_q)

In [15]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `cpus` (
  `id` BIGINT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  `laptop_id` BIGINT NOT NULL,
  `cpu_name` VARCHAR(255) NOT NULL
);
"""
mycursor.execute(sql_q)

In [16]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `cat_name` (
  `id` BIGINT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  `category_name` VARCHAR(255) NOT NULL
);
"""
mycursor.execute(sql_q)

In [17]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `os_ver` (
  `id` BIGINT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  `os_id` BIGINT NOT NULL,
  `os_ver` VARCHAR(255)
);
"""
mycursor.execute(sql_q)

In [19]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `provinces` (
  `id` BIGINT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  `pro_name` VARCHAR(255) NOT NULL
);
"""
mycursor.execute(sql_q)

In [20]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `category` (
  `model_id` BIGINT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  `laptop_id` BIGINT NOT NULL
);
"""
mycursor.execute(sql_q)

In [21]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `rams` (
  `id` BIGINT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  `laptop_id` BIGINT NOT NULL,
  `model_name` VARCHAR(255) NOT NULL
);
"""
mycursor.execute(sql_q)

In [22]:
mycursor = mydb.cursor()
sql_q = """
CREATE TABLE `manufactures` (
  `id` BIGINT PRIMARY KEY NOT NULL AUTO_INCREMENT,
  `laptop_id` BIGINT NOT NULL,
  `man_name` VARCHAR(255) NOT NULL
);
"""
mycursor.execute(sql_q)

### Create Foreign Key

In [23]:
mycursor = mydb.cursor()
sql_q = """
alter table pro_lap
    add constraint pro_lap_laptops__fk
        foreign key (laptop_id) references laptops (id);
"""
mycursor.execute(sql_q)

In [24]:
mycursor = mydb.cursor()
sql_q = """
    ALTER TABLE screens
        ADD CONSTRAINT screens_laptops_fk
            FOREIGN KEY (laptop_id) REFERENCES laptops(id)
"""
mycursor.execute(sql_q)

In [25]:
mycursor = mydb.cursor()
sql_q = """
    ALTER TABLE category
      ADD CONSTRAINT category_cat_name_fk
        FOREIGN KEY (model_id) REFERENCES cat_name(id)
"""
mycursor.execute(sql_q)

In [26]:
mycursor = mydb.cursor()
sql_q = """
    ALTER TABLE os
      ADD CONSTRAINT os_laptops_fk
        FOREIGN KEY (laptop_id) REFERENCES laptops(id)
"""
mycursor.execute(sql_q)

In [ ]:
# Foreign key for laptops referencing cpus
mycursor.execute("""
alter table laptops
    add constraint laptops_cpus_laptop_id_fk
        foreign key (id) references cpus (laptop_id);
""")

# Foreign key for laptops referencing priority
mycursor.execute("""
  ALTER TABLE laptops
    ADD CONSTRAINT laptops_priority_laptop_id_fk
      FOREIGN KEY (id) REFERENCES priority(laptop_id)
""")

# Foreign key for laptops referencing manufactures
mycursor.execute("""
  ALTER TABLE laptops
    ADD CONSTRAINT laptops_manufactures_laptop_id_fk
      FOREIGN KEY (id) REFERENCES manufactures(laptop_id)
""")

# Foreign key for pro_lap referencing laptops
# mycursor.execute("""
#   ALTER TABLE pro_lap
#     ADD CONSTRAINT pro_lap_laptops_fk
#       FOREIGN KEY (laptop_id) REFERENCES laptops(id)
# """)

# Foreign key for category referencing laptops
# mycursor.execute("""
#   ALTER TABLE category
#     ADD CONSTRAINT category_laptops_fk
#       FOREIGN KEY (laptap_id) REFERENCES laptops(id)
# """)

In [27]:
mycursor = mydb.cursor()

# Foreign key for os_ver referencing os
mycursor.execute("""
  ALTER TABLE os_ver
    ADD CONSTRAINT os_ver_os_fk
      FOREIGN KEY (os_id) REFERENCES os(id)
""")
mycursor = mydb.cursor()

# Foreign key for scr_size referencing screens
mycursor.execute("""
  ALTER TABLE scr_size
    ADD CONSTRAINT scr_size_screens_fk
      FOREIGN KEY (screen_id) REFERENCES screens(id)
""")

In [28]:
mycursor = mydb.cursor()
sql_q = """
  ALTER TABLE laptops
    ADD CONSTRAINT laptops_orders_fk
      FOREIGN KEY (order_id) REFERENCES orders(id)
"""
mycursor.execute(sql_q)

In [29]:
mycursor = mydb.cursor()
sql_q = """
  ALTER TABLE sales
    ADD CONSTRAINT sales_orders_fk
      FOREIGN KEY (order_id) REFERENCES orders(id)
"""
mycursor.execute(sql_q)

In [ ]:
dataset.info()

In [30]:
def rmkg(char = str):
    char = float(char.replace('k', '').replace('g', '').replace('s', ''))
    return char
dataset['Weight'] = dataset['Weight'].apply(rmkg)
dataset['Weight']

0          2.18
1          1.30
2          2.60
3          1.40
4          2.23
           ...
1017076    2.40
1017077    2.05
1017078    1.98
1017079    1.34
1017080    2.30
Name: Weight, Length: 1017081, dtype: float64

In [ ]:
import pandas as pd

# Define the minimum and maximum timestamps
min_timestamp = pd.Timestamp('1300-01-01')
max_timestamp = pd.Timestamp('1500-12-31')

# Create a custom timestamp range
custom_range = pd.date_range(start=min_timestamp, end=max_timestamp, freq='D')

# Print the custom timestamp range
print(custom_range)

In [31]:
span = pd.period_range("1300-01-01", "1500-01-01", freq="D")
def convert(item):
    year = int(item[:4])
    month = int(item[5:7])
    day = int(item[8:10])
    return pd.Period(year=year, month=month, day=day, freq="D")


#  0    1111-01-01
#  1    1212-12-12
#  dtype: period[D]

dataset['Order_Date'] = dataset['Order_Date'].apply(convert)

In [32]:
dataset['Order_ID'] = dataset['Order_ID'] + 1

In [35]:
orders = dataset[['Order_Date', 'Ship_Duration']]
orders.duplicated().sum()

974291

In [36]:
orders.rename(columns={'Order_Date': 'order_date', 'Ship_Duration': 'ship_duration'}, inplace=True)
orders.to_sql(name='orders', con=conn, index=False ,if_exists='append')

C:\Users\Mahdi\AppData\Local\Temp\ipykernel_14536\2267690579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders.rename(columns={'Order_Date': 'order_date', 'Ship_Duration': 'ship_duration'}, inplace=True)

1017081

In [38]:
orders = pd.read_sql_table('orders', con=conn)
orders

              id order_date  ship_duration
0              1        NaT              3
1              2        NaT              2
2              3        NaT              5
3              4        NaT              3
4              5        NaT              8
...          ...        ...            ...
1017076  1017077        NaT              4
1017077  1017078        NaT              6
1017078  1017079        NaT              2
1017079  1017080        NaT             10
1017080  1017081        NaT              9

[1017081 rows x 3 columns]

In [39]:
laptops = pd.DataFrame()
laptops[['name', 'wieght']] = dataset[['Model_Name', 'Weight']]
laptops['order_id'] = orders['id']
laptops

                                            name  wieght  order_id
0                                    Vostro 3568    2.18         1
1                                 Yoga 720-13IKB    1.30         2
2                             IdeaPad Y700-15ISK    2.60         3
3                                  Inspiron 5370    1.40         4
4                                 Aspire E5-576G    2.23         5
...                                          ...     ...       ...
1017076                       Legion Y520-15IKBN    2.40   1017077
1017077  V330-15IKB (i5-8250U/4GB/500GB/FHD/W10)    2.05   1017078
1017078                              Vostro 5568    1.98   1017079
1017079                          Envy 13-AB020nr    1.34   1017080
1017080                            Inspiron 3567    2.30   1017081

[1017081 rows x 3 columns]

In [40]:
laptops.to_sql(name='laptops', con=conn, index=False ,if_exists='append')
print('Appended!')

Appended!

In [41]:
sales = pd.DataFrame()
sales['order_id'] = orders['id']
sales[['price', 'percent_disc', 'profit', 'quantity']] = dataset[['Price', 'Discount', 'Profit', 'Quantity']]
sales.to_sql(name='sales', con=conn, index=False ,if_exists='append')
print('Appended!')

Appended!

In [43]:
proirity = pd.DataFrame()
proirity[['laptop_id', 'pro']] = dataset[['Order_ID', 'Order_Priority']]
proirity.to_sql('priority', con=conn, index=False, if_exists='append')

1017081

In [44]:
man_fac = pd.DataFrame()
# dataset.rename(columns={'Order_ID': 'laptop_id', 'Manufacturer': 'man_name'}, inplace=True)
man_fac[['laptop_id', 'man_name']] = dataset[['Order_ID', 'Manufacturer']]
man_fac.to_sql(name='manufactures', con=conn, index=False ,if_exists='append')
print('Appended!')

Appended!

In [45]:
man_fac = pd.DataFrame()
# dataset.rename(columns={'Storage': 'model_name'}, inplace=True)
man_fac[['laptop_id', 'model_name']] = dataset[['Order_ID', 'Storage']]
man_fac.to_sql(name='storages', con=conn, index=False ,if_exists='append')
print('Appended!')

Appended!

In [46]:
# dataset.rename(columns={'OS': 'model_name'}, inplace=True)
man_fac = pd.DataFrame()
man_fac[['laptop_id', 'model_name']] = dataset[['Order_ID', 'OS']]
man_fac.to_sql(name='os', con=conn, index=False ,if_exists='append')
print('Appended!')

Appended!

In [47]:
os_table = pd.read_sql_table('os', con=conn)
os_table = os_table['id']
os_table

0                1
1                2
2                3
3                4
4                5
            ...
1017076    1017077
1017077    1017078
1017078    1017079
1017079    1017080
1017080    1017081
Name: id, Length: 1017081, dtype: int64

In [48]:
man_fac = pd.DataFrame()
# dataset.rename(columns={'os_ver': 'model_ver'}, inplace=True)
man_fac['os_id'] = os_table
man_fac['os_ver'] = dataset['OS_Version'].astype('object')
man_fac.to_sql(name='os_ver', con=conn, index=False ,if_exists='append')
print('Appended!')

Appended!

In [ ]:
dataset.info()

In [51]:
category = dataset['Category']
category.rename('category_name', inplace=True)

0                    Notebook
1          2 in 1 Convertible
2                    Notebook
3                   Ultrabook
4                    Notebook
                  ...
1017076                Gaming
1017077              Notebook
1017078              Notebook
1017079             Ultrabook
1017080              Notebook
Name: category_name, Length: 1017081, dtype: object

In [52]:
category.to_sql('cat_name', conn, index=False, if_exists='append')

1017081

In [53]:
category = pd.read_sql_table('cat_name', conn)
category

              id       category_name
0              1            Notebook
1              2  2 in 1 Convertible
2              3            Notebook
3              4           Ultrabook
4              5            Notebook
...          ...                 ...
1017076  1017077              Gaming
1017077  1017078            Notebook
1017078  1017079            Notebook
1017079  1017080           Ultrabook
1017080  1017081            Notebook

[1017081 rows x 2 columns]

In [55]:
man_fac = pd.DataFrame()
# dataset.rename(columns={'Category': 'category_name'}, inplace=True)
man_fac['model_id'] = category['id']
man_fac['laptop_id'] = dataset['Order_ID']
man_fac.to_sql(name='category', con=conn, index=False ,if_exists='append')
print('Appended!')

Appended!

In [ ]:
man_fac = dataset[['Order_ID', 'CPU']]
man_fac

In [56]:
man_fac = pd.DataFrame()
# dataset.rename(columns={'CPU': 'cpu_name'}, inplace=True)
# man_fac['id'] = category
man_fac[['laptop_id', 'cpu_name']] = dataset[['Order_ID', 'CPU']]
man_fac.to_sql(name='cpus', con=conn, index=False ,if_exists='append')
print('Appended!')

Appended!

In [58]:
man_fac = pd.DataFrame()
# man_fac['id'] = category
man_fac[['laptop_id', 'model_name']] = dataset[['Order_ID', 'Screen']]
man_fac.to_sql(name='screens', con=conn, index=False ,if_exists='append')
print('Appended!')

Appended!

In [59]:
scr_size = pd.read_sql_table('screens', conn)
scr_size

              id  laptop_id                                 model_name
0              1          1                          Full HD 1920x1080
1              2          2  IPS Panel Full HD / Touchscreen 1920x1080
2              3          3                IPS Panel Full HD 1920x1080
3              4          4                IPS Panel Full HD 1920x1080
4              5          5                          Full HD 1920x1080
...          ...        ...                                        ...
1017076  1017077    1017077                IPS Panel Full HD 1920x1080
1017077  1017078    1017078                          Full HD 1920x1080
1017078  1017079    1017079                          Full HD 1920x1080
1017079  1017080    1017080               IPS Panel Quad HD+ 3200x1800
1017080  1017081    1017081                          Full HD 1920x1080

[1017081 rows x 3 columns]

In [60]:
dataset['Screen_Size'] = dataset['Screen_Size'].apply(lambda x: x.replace('"', ''))
dataset['Screen_Size'] = dataset['Screen_Size'].astype(float)

In [61]:
man_fac = pd.DataFrame()
man_fac['screen_id'] = scr_size['id']
man_fac['screen_size'] = dataset['Screen_Size']
man_fac.to_sql(name='scr_size', con=conn, index=False ,if_exists='append')
print('Appended!')

Appended!

In [62]:
man_fac = pd.DataFrame()
# dataset.rename(columns={'Order_ID': 'laptop_id', 'RAM' : 'value'}, inplace=True)
man_fac[['laptop_id', 'model_name']] = dataset[['Order_ID', 'RAM']]
man_fac['model_name'] = man_fac['model_name'].apply(lambda x: x.replace('GB', ''))
man_fac.to_sql(name='rams', con=conn, index=False ,if_exists='append')
print('Appended!')

Appended!

In [63]:
provinces.rename('pro_name', inplace=True)
provinces.to_sql(name='provinces', index=False, con=conn, if_exists='append')

16

In [64]:
provinces = pd.read_sql_table('provinces', conn)

In [66]:
miane = pd.merge(provinces, dataset, left_on='pro_name', right_on='Branch')
miane

,id,pro_name,Order_ID,Branch,Order_Date,Order_Priority,Manufacturer,Model_Name,Category,Screen_Size,...,GPU,OS,OS_Version,Weight,Price,Quantity,Discount,Total_Price,Profit,Ship_Duration
0,1,Hamedan,1,Hamedan,1396-10-26,H,Dell,Vostro 3568,Notebook,15.6,...,AMD Radeon R5 M420,Windows,10,2.18,3450000,1,0,3450000.0,250000,3
1,1,Hamedan,48,Hamedan,1393-01-24,H,Lenovo,V330-15IKB (i5-8250U/4GB/256GB/FHD/W10),Notebook,15.6,...,Intel UHD Graphics 620,Windows,10,1.80,2550000,1,0,2550000.0,240000,3
2,1,Hamedan,55,Hamedan,1396-12-20,L,MSI,GP72VR Leopard,Gaming,17.3,...,Nvidia GeForce GTX 1060,Windows,10,2.70,7150000,1,0,7150000.0,570000,7
3,1,Hamedan,74,Hamedan,1399-07-22,L,Acer,Aspire F5-573G,Notebook,15.6,...,Nvidia GeForce GTX 950M,Windows,10,2.40,24300000,1,0,24300000.0,2390000,10
4,1,Hamedan,90,Hamedan,1394-07-09,M,Dell,Inspiron 3567,Notebook,15.6,...,AMD Radeon R5 M430,Windows,10,2.20,1700000,1,0,1700000.0,170000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017076,16,Zanjan,1016971,Zanjan,1393-12-03,M,Dell,Inspiron 3567,Notebook,15.6,...,AMD Radeon R5 M430,Linux,NaN,2.30,2000000,1,0,2000000.0,190000,4
1017077,16,Zanjan,1017018,Zanjan,1396-12-14,L,HP,Pavilion 15-AW003nv,Notebook,15.6,...,AMD Radeon R7 M440,Windows,10,2.04,2600000,1,0,2600000.0,260000,8
1017078,16,Zanjan,1017019,Zanjan,1400-02-10,H,HP,ProBook 650,Workstation,15.6,...,Intel HD Graphics 620,Windows,10,2.31,35600000,1,0,35600000.0,2920000,3
1017079,16,Zanjan,1017023,Zanjan,1400-03-23,H,Lenovo,Yoga 920-13IKB,2 in 1 Convertible,13.9,...,Intel UHD Graphics 620,Windows,10,1.40,50150000,1,0,50150000.0,3420000,2
1017080,16,Zanjan,1017024,Zanjan,1401-04-08,H,Lenovo,IdeaPad 320-17IKBR,Notebook,17.3,...,Nvidia GeForce MX150,No OS,NaN,2.80,21750000,1,0,21750000.0,2150000,2

In [67]:
miane = miane[['Order_ID', 'id']]
# miane['laptop_id'] = miane['laptop_id'] + 50
miane.rename(columns={'Order_ID': 'laptop_id', 'id': 'province_id'}, inplace=True)
miane.to_sql(name='pro_lap', index=False, con=conn, if_exists='replace')

C:\Users\Mahdi\AppData\Local\Temp\ipykernel_14536\798481259.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  miane.rename(columns={'Order_ID': 'laptop_id', 'id': 'province_id'}, inplace=True)

1017081